<!doctype html>

<html>
  {% load static %}
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="http://www.cssscript.com/wp-includes/css/sticky.css" rel="stylesheet" type="text/css">
<title>Chrono</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'countdown/style.css' %}">
</head>
<body>
<div class="container">
  <div class="setters">
    <div class="minutes-set">
      <button data-setter="minutes-plus">+</button>
      <button data-setter="minutes-minus">-</button>
    </div>
    <div class="seconds-set">
      <button data-setter="seconds-plus">+</button>
      <button data-setter="seconds-minus">-</button>
    </div>
  </div>
  <div class="circle"> <svg width="300" viewBox="0 0 220 220" xmlns="http://www.w3.org/2000/svg">
    <g transform="translate(110,110)">
      <circle r="100" class="e-c-base"/>
      <g transform="rotate(-90)">
        <circle r="100" class="e-c-progress"/>
        <g id="e-pointer">
          <circle cx="100" cy="0" r="8" class="e-c-pointer"/>
        </g>
      </g>
    </g>
    </svg> </div>
  <div class="controlls">
    <div class="display-remain-time"></div>
 
    <button class="play" id="pause"></button>
  </div>
</div>
<script >
  console.log("ca commence");
//circle start
CallAjaxGetTime();
let progressBar = document.querySelector('.e-c-progress');
let indicator = document.getElementById('e-indicator');
let pointer = document.getElementById('e-pointer');
let length = Math.PI * 2 * 100;
progressBar.style.strokeDasharray = length;
function update(value, timePercent) {
	var offset = - length - length * value / (timePercent);
	progressBar.style.strokeDashoffset = offset; 
	pointer.style.transform = `rotate(${360 * value / (timePercent)}deg)`; 
};
//circle ends
const displayOutput = document.querySelector('.display-remain-time')
const pauseBtn = document.getElementById('pause');
const setterBtns = document.querySelectorAll('button[data-setter]');
let intervalTimer;
let timeLeft;
/************code python *********************/
/*Le temps par python est donner en float donc il faut convertir 
ce temps en second pour le donner a l horloge */
//let TimeGivenByPython = {{time.seconds}} ;
let TimeGivenByPython = CallAjaxGetTime;
let TimeGivenByPythonAbs  = Math.trunc(TimeGivenByPython);
let TimeGivenByPythonDecimal = TimeGivenByPython - TimeGivenByPythonAbs;


/*******Variable by kavaldeep**************/
let timeStart = 0;
let timeFinish = 0;
/******************************************/

let wholeTime = TimeGivenByPython  ; // manage this to set the whole time 

let isPaused = false;
let isStarted = false;
update(wholeTime,wholeTime); //refreshes progress bar
displayTimeLeft(wholeTime);

function changeWholeTime(seconds){
  if ((wholeTime + seconds) > 0){
    wholeTime += seconds;
    update(wholeTime,wholeTime);
  }
}
for (var i = 0; i < setterBtns.length; i++) {
    setterBtns[i].addEventListener("click", function(event) {
        var param = this.dataset.setter;
        switch (param) {
            case 'minutes-plus':
                changeWholeTime(1 * 60);
                break;
            case 'minutes-minus':
                changeWholeTime(-1 * 60);
                break;
            case 'seconds-plus':
                changeWholeTime(1);
                break;
            case 'seconds-minus':
                changeWholeTime(-1);
                break;
        }
      displayTimeLeft(wholeTime);
    });
}
function timer (seconds){ //counts time, takes seconds
  let remainTime = Date.now() + (seconds * 1000);
  displayTimeLeft(seconds);
  
  intervalTimer = setInterval(function(){
    timeLeft = Math.round((remainTime - Date.now()) / 1000);
    if(timeLeft < 0){
      clearInterval(intervalTimer);
      isStarted = false;
      setterBtns.forEach(function(btn){
        btn.disabled = false;
        btn.style.opacity = 1;
      });
      displayTimeLeft(wholeTime);
      pauseBtn.classList.remove('pause');
      pauseBtn.classList.add('play');
      return ;
    }
    displayTimeLeft(timeLeft);
  }, 1000);
}
function pauseTimer(event){

  if(isStarted === false){
    timer(wholeTime);
    isStarted = true;
    this.classList.remove('play');
    this.classList.add('pause');
    
    setterBtns.forEach(function(btn){
      btn.disabled = true;
      btn.style.opacity = 0.5;
    });

    // Lorsque on appuie sur play on entre dans cette boucle 
  }else if(isPaused){
    this.classList.remove('play');
    this.classList.add('pause');
    timer(timeLeft);
    isPaused = isPaused ? false : true
  }else{ //lorsque on appuie sur pause on entre dans cette boucle 
    this.classList.remove('pause');
    this.classList.add('play');
    clearInterval(intervalTimer);
    CallAjaxUpdateTime(timeLeft);
    console.log(timeLeft)
    isPaused =  isPaused ? false : true ;
  }
}
function displayTimeLeft (timeLeft){ //displays time on the input
  let hours = Math.floor(timeLeft / 60 / 60);
  let minutes = Math.floor(timeLeft / 60);
  let seconds = timeLeft % 60;
  let displayString = `${minutes < 10 ? '0' : ''}${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
  displayOutput.textContent = displayString;
  update(timeLeft, wholeTime);
}

function CallAjax(message , pk){
  $.ajax({
   type: "POST",
   url: "http://127.0.0.1:8000/tache_app/addToContenue",
   dataType: "json",
   traditional: true,
   data: {'message': JSON.stringify(message) ,'pk' :JSON.stringify("60dbe69e6aeb8fd0ba1a5860") },
   success: function(data) {  
           console.log(data["HTTPRESPONSE"]);
   }
  });


}

function CallAjaxUpdateTime(timeLeft){

  $.ajax({
   type: "POST",
   url: "http://127.0.0.1:8000/tache_app/update_time/",
   dataType: "json",
   traditional: true,
   data: {'pk' :JSON.stringify("60dbe69e6aeb8fd0ba1a5860") , 'timeLeft' : JSON.stringify(timeLeft) },
   success: function(data) {  
           console.log(data["HTTPRESPONSE"]);
   }
  });
}

function CallAjaxGetTime(){
  alert("calling Method")
  $.ajax({
   type: "POST",
   url: "http://127.0.0.1:8000/countdown/getTime",
   dataType: "json",
   traditional: true,
   data: {'_id' :JSON.stringify("60dbe69e6aeb8fd0ba1a5860")},
   success: function(data) {  
           console.log(data);
           if(data["HTTPRESPONSE"] == "ok")
           {
            return data["time"]
           }
           else
           {
            return "0:00"
           }
   }
  });
}


pauseBtn.addEventListener('click',pauseTimer);

</script>
</body>
</html>
