.footer
{
	margin-bottom: 20px;
	backface-visibility: hidden;
	perspective: 200rem;
	transition: all 1.5s;
}

.card-container:hover .footer
{
	transform: rotateY(0);
}


.card-container .footer
{
	transform: rotateY(180deg);
}
